# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [60]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [61]:
print(hash_function('pato'))
print(hash_function('ABW'))

1807
910

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [64]:
## Previsualizamos el csv ligeramente.

df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [65]:
## Eliminamos los registros que contengan datos faltantes.

limpieza = df.dropna()
limpieza

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [66]:
## Creamos una lista vacía en donde almacenar nuestro proximo proceso.

varClaveHash = []

In [67]:
## Iteramos sobre la columna Código de país y encriptamos todos sus elementos almacenandolos en una nueva lista para luego aderirla como columna a el csv.

for i in limpieza.loc[:, "Código de país"]:
    encriptado = hash_function(i)
    varClaveHash.append(str(encriptado))

varClaveHash[0]

'910'

In [68]:
## Agregamos la lista como columna al archivo.

limpieza["Clave_Hash"] = varClaveHash

/var/folders/sy/vl408hcx0d11wftbc8rshy9r0000gn/T/ipykernel_28719/295564082.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  limpieza["Clave_Hash"] = varClaveHash

In [69]:
limpieza

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698,951

In [70]:
limpieza.to_csv('Emision_de_Hash.csv', index = False)

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [71]:
## Leemos el nuevo archivo csv que recien exportamos.

df1 = pd.read_csv("Copia de Emision_de_Hash.csv")

In [72]:
df1.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
0,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
1,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
2,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
3,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
4,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910

In [73]:
columnas = df1[['Clave_Hash', 'Código de país', 'Nombre del país', 'Región']].drop_duplicates()
columnas

,Clave_Hash,Código de país,Nombre del país,Región
0,910,ABW,Aruba,América Latina y Caribe
26,870,AND,Andorra,Europa y Asia Central
43,858,AFG,Afganistán,Sur de Asia
95,893,AGO,Angola,África subsahariana
147,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...
8777,927,YEM,Yemen,Oriente Medio y Norte de África
8829,889,ZAF,Sudáfrica,África subsahariana
8881,877,COD,Congo (República Democrática),África subsahariana
8933,909,ZMB,Zambia,África subsahariana
8981,951,ZWE,Zimbabue,África subsahariana

In [74]:
columnas.reset_index()

,index,Clave_Hash,Código de país,Nombre del país,Región
0,0,910,ABW,Aruba,América Latina y Caribe
1,26,870,AND,Andorra,Europa y Asia Central
2,43,858,AFG,Afganistán,Sur de Asia
3,95,893,AGO,Angola,África subsahariana
4,147,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...,...
194,8777,927,YEM,Yemen,Oriente Medio y Norte de África
195,8829,889,ZAF,Sudáfrica,África subsahariana
196,8881,877,COD,Congo (República Democrática),África subsahariana
197,8933,909,ZMB,Zambia,África subsahariana
198,8981,951,ZWE,Zimbabue,África subsahariana

In [75]:
columnas.value_counts('Clave_Hash')

Clave_Hash
935     5
910     5
941     4
957     4
970     4
       ..
917     1
918     1
926     1
929     1
1021    1
Length: 108, dtype: int64

In [76]:
borrar_columnas_p2 = df1.drop(['Código de país', 'Nombre del país', 'Región'], axis = 1)

In [77]:
columnas.to_csv("Ejercicio_2_parte_1.csv", index = False)
borrar_columnas_p2.to_csv('Ejercicio_2_parte_2.csv', index = False)